
/* 
.collaborate-section{

}
.collaborate-content{
    width: 50%;
}
.collaborate-image-section{
    position: relative;
}
.lady1-div{

    position: absolute;
    top: 17%;
    left: 0%;
    width: 42%;
    height: 47%;
}
.man1-div{
    
    position: absolute;
    top: 17%;
    left: 0%;
    width: 37%;
    height: 44%;

}
.lady2-div{
    
    position: absolute;
    bottom: 5%;
    left: 13%;
    width: 33%;
    height: 31%;

}
.man2-div{

    position: absolute;
    bottom: 0%;
    right: 12%;
    width: 38%;
    height: 35%;

}
.lady1-img{
width: 100%;

border-radius: 10px;

}
.lady2-img{
width: 100%;

border-radius: 10px;
}
.man1-img{
width: 100%;

border-radius: 10px;
}
.man2-img{
    width: 100%;
    
    border-radius: 10px;
}

 */
