* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --master-font: "Inter", sans-serif;
  --master-font2: "Open Sans", sans-serif;
}
.container {
  height: 6000px;
}

.top-section {
  background-image: url(./images/Background.png);
  background-repeat: no-repeat;
}
.header {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 30px 0px 0px 150px;
}
.nav-bar-ul {
  display: flex;
  align-items: center;
  margin-left: 349px;
  /* justify-content: space-between; */
}
.nav-bar-ul-li {
  padding: 0px 26px;
}

.nav-bar-ul-li a {
  font-family: var(--master-font);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.logo-div {
  min-width: 90px;
}
.logo-image {
  width: 100%;
}
.nav-bar-button {
  color: white;
  font-family: var(--master-font);
  font-weight: 600;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 13px 27px;
  margin-left: 16px;
}

.top-section-para-one {
  font-family: var(--master-font);
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  margin: 100px 0px 0px 651px;
  text-align: center;
}
.top-section-para-two {
  font-family: var(--master-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  width: 51%;
  margin: 24px auto;
}
.top-section-button-div {
  margin: 0 auto;
  width: 34%;
}
.top-section-button1 {
  padding: 14px 24px 15px 24px;
  /* font-family: var(--master-font); */
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  color: #1565d8;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  margin-right: 20px;
}
.forward-arrow {
  margin-left: 25px;
}
.forward-arrow {
  margin-left: 25px;
}
.top-section-button2 {
  padding: 14px 24px 15px 24px;
  /* font-family: var(--master-font); */
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: white;
  background: rgba(21, 101, 216, 0.1);
}
.top-section-dashboard {
  position: relative;
  height: 451px;
  width: 755px;
  /* background-image: url(./images/Macbook.jpg); */

  margin: 93px 0px 0px 343px;
  border-radius: 27px;
  background-repeat: no-repeat;
}
.top-section-dashboard-engagement {
  position: absolute;
  left: 0px;
  top: 290px;
}
.top-section-dashboard-audience {
  position: absolute;
  top: 252px;
  right: 0px;
}
.features-section {
  margin-top: 144px;
}
.features-section-title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.features-section-heading-div {
  font-size: 14px;
  font-family: var(--master-font);
  font-weight: 600;
  width: 101px;
  margin: 0 auto;
  border: 2px solid black;
}
.features-section-heading {
  color: #1565d8;
  text-align: center;
  /* background-color: rgb(157, 167, 170); */
  background-color: rgb(205, 220, 228);

  border-radius: 2000px;
  padding: 6px 16px;
  z-index: 1;
  width: 104%;
  font-size: 14px;
  margin: -2px;
}
.features-section-subheading {
  color: #183b56;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.features-section-para {
  color: #5a7184;
  font-family: var(--master-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}
.features-section-cards {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 58px;
}
.feature-card {
  /* width: 24%; */
  width: 19%;
}
.card-icon-div {
}
.card-icon {
  border-radius: 16px;
}

.card-heading {
  /* font-family: var(--master-font); */
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #183b56;
  margin-top: 35px;
}
.card-info {
  font-family: var(--master-font);
  color: #5a7184;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  /* margin: 12px 30px 19px 33px; */
  margin: 12px auto;
}
.card-button button {
  color: #1565d8;
  border: none;
  background: none;
  /* font-family: Open Sans; */
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}
.background-wave {
  margin-top: 91px;
  margin-bottom: -5px;
}
.background-wave img {
  width: 100%;
}
.analytics-section {
  display: flex;
  background: linear-gradient(
    180deg,
    #f8fbff 0%,
    rgba(250, 251, 251, 0.0001) 100%
  );
}
.analytics-chart {
  width: 56%;
  /* background-image: url(./images/analytics\ chart.jpg); */
  /* background-repeat: no-repeat; */
  background: linear-gradient(
    180deg,
    #f8fbff 0%,
    rgba(250, 251, 251, 0.0001) 100%
  );
  margin: 50px 0px 0px 0px;
  /* height: 541px; */
}
.analytics {
  width: 50%;
}

.analytics-heading {
  font-family: var(--master-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: left;
  color: #37e36b;
}
.analytics-sub-heading {
  font-family: var(--master-font2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;

  text-align: left;
  color: #183b56;
  padding-right: 228px;
  margin-top: 16px;
}
.analytics-info {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
  width: 67%;
  margin-top: 20px;
}
.analytics-cards {
  display: flex;
  margin-top: 40px;
}
.analytics-card-icon-div {
}
.analytics-card-icon {
}
.analytics-card-heading {
  font-family: var(--master-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #183b56;
  margin: 19px 0px 7px 0px;
}
.analytics-card-info {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
  width: 73%;
}
.analytics-button {
  background-image: url(./images/analytics\ button\ bg\ shape.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 136px 103px;
  min-height: 150px;
  width: 60%;
}
.analytics-button button {
  font-family: var(--master-font2);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
  background: #1565d8;
  border-radius: 8px;
  padding: 14px 0px 15px 24px;
  margin-top: 40px;
  border: none;
}
.analytics-button button span {
  margin: 20px;
}

/* ******************more features section*************** */

.more-features-section {
  margin-top: 190px;
}
.more-features-heading {
  /* font-family: Open Sans; */
  font-family: var(--master-font2);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  color: #36b37e;
  margin-bottom: 16px;
}
.more-features-sub-heading {
  font-family: var(--master-font2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #183b56;
  margin-bottom: 16px;
}
.more-features-info {
  /* font-family: Open Sans; */
  font-family: var(--master-font2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #5a7184;
  width: 779px;
  margin: 0 auto 60px auto;
}
.more-features-cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 45px;
}
.more-features-card {
  width: 360px;
  margin-bottom: 65px;
}
.more-features-card-icon-plus-heading-div {
  display: flex;
}
.more-features-card-icon-div {
}
.more-features-card-icon {
}
.more-features-card-heading {
  font-family: var(--master-font2);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #183b56;
  margin-left: 24px;
}
.more-features-card-info {
  font-family: var(--master-font2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #5a7184;
  margin-top: 8px;
}

/* ******collaborate section *********** */
.collaborate-section {
  display: flex;
  margin-top: 148px;
  padding-bottom: 120px;
}
.collaborate-content {
  margin-left: 100px;
  margin-top: 162px;
}
.collaborate-heading {
  font-family: var(--master-font2);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: left;
  color: #36b37e;
  margin-bottom: 16px;
}
.collaborate-sub-heading {
  font-family: var(--master-font2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #183b56;
  width: 555px;
  margin-bottom: 20px;
}
.collaborate-info {
  font-family: var(--master-font2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
  width: 67%;
  margin-bottom: 33px;
}
.collaborate-checkbox-info-div {
  display: flex;
  flex-wrap: wrap;

  row-gap: 21px;
}

.collaborate-checkbox-icon-plus-info-div {
  display: flex;
  width: 41%;
}
.collaborate-checkbox-icon {
  margin-right: 12px;
}
.collaborate-checkbox-info {
  font-family: var(--master-font2);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #183b56;
}
.collaborate-image-section {
  width: 50%;
}
.collaborate-image {
  width: 100%;
}

/* ******integration section *********** */

.integration-section {
  
  position: relative;
  background-image: url(./images/integration\ bg\ lines.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 203px 0;
}
.integration-content {
  background-image: url(./images/integration\ icons.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 88px 0px;
  
}
.integration-heading {
  font-family: var(--master-font2);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  color: #36b37e;
  margin-bottom: 16px;
}
.integration-sub-heading {
  font-family: var(--master-font2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #183b56;
  width: 41%;
  margin: 0 auto 20px auto;
}
.integration-info {
  font-family: var(--master-font2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #5a7184;
  width: 40%;
  margin: 0 auto;
}
/* .integration-icons {
  position: absolute;
}
.integration-oval-lines {
  position: absolute;
  bottom: -236px;
  left: 176px;
} */


.reviews-section{

}
.reviews-section-heading{

}
.clients-div{
display: flex;
}
.client-icon-div{

}
.client-icon{

}
.user-reviews-div{

}
.review-company-icon-div{

}
.review-company-icon{

}
.review-text{

}
.reviewer-details{

}
.reviewer-photo-div{

}
.reviewer-photo{

}
.reviewerName-plus-verification-details{
  display: flex;
}
.reviewer-name{

}
.verification-status{

}
.verified-icon{

}
.verification-text{
  
}