* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --masterFont: "Inter", sans-serif;
  --masterFont2: "Open Sans", sans-serif;
}
.container {
  width: 1320px;
  margin: 0 auto;
  /* border: 0.2px solid black; */
}

.top-section {
  background-image: url(./images/Background.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  margin-bottom: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.hamburger-div{
  display: none;
}
.nav-bar-drop-down-arrow{
  padding-top: 3px;
}
.nav-bar-ul {
  display: flex;
  align-items: center;
}
.nav-bar-ul-li {
  padding: 0px 26px;
}

.nav-bar-ul-li a {
  font-family: var(--masterFont);
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.logo-div {
  min-width: 90px;
}
.logo-image {
  width: 100%;
}
.nav-bar-button {
  color: white;
  font-family: var(--masterFont);
  font-weight: 600;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 13px 27px;
  margin-left: 16px;
}

.top-section-para-one-div {
  font-family: var(--masterFont);
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
  padding-top: 50px;
}
.top-section-para-one {
  font-size: 56px;
  width: 64%;
  margin: 0 auto;
}
.top-section-para-two {
  font-family: var(--masterFont);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  width: 60%;
  margin: 24px auto;
}
.top-section-button-div {
  text-align: center;
  padding: 30px 0px;
}
.top-section-button1 {
  padding: 14px 24px 15px 24px;
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 700;
  color: #1565d8;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  margin-right: 20px;
}
.forward-arrow {
  margin-left: 25px;
}
.forward-arrow {
  margin-left: 25px;
}
.top-section-button2 {
  padding: 14px 24px 15px 24px;
  /* font-family: var(--masterFont); */
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: white;
  background: rgba(21, 101, 216, 0.1);
}
.top-section-dashboard {
  text-align: center;
  position: relative;
  padding: 30px 0px;
}
.top-section-dashboard-engagement-img {
  position: absolute;
  left: 21%;
  bottom: 15%;
}
.top-section-dashboard-audience-img {
  position: absolute;
  right: 17%;
  bottom: 5%;
}
.features-section {
  /* margin-top: 144px; */
  padding: 50px 0px;
}
.features-section-title {
  
  text-align: center;
  padding-bottom: 30px;
}

.features-section-heading-div {
  
  width: 10%;
  margin: 0 auto;
  
}
.features-section-heading {
  font-size: 14px;
  font-family: var(--masterFont2);
  font-weight: 600;
  color: hsl(215, 82%, 46%);
  background-color: rgb(205, 220, 228);

  border-radius: 20px;
  padding: 6px 0px;
  font-size: 14px;
  
}
.features-section-subheading-div {
  width: 50%;
  margin: 0 auto;
  padding: 16px 0px;
}
.features-section-subheading {
  color: #183b56;
  font-family: var(--masterFont);
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  
}
.features-section-para-div{
  width: 66%;
  margin: 0 auto;

}
.features-section-para {
  color: #5a7184;
  font-family: var(--masterFont);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  
}
.features-section-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  
}
.feature-card {
  width: 22%;
  margin: 0px 10px;
}
.card-icon-div {
  width: 28%;
    margin: 0 auto;
}
.card-icon {
  border-radius: 16px;
}
.card-heading-div{
  margin-top: 25px;

}
.card-heading {
  font-family: var(--masterFont2);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #183b56;
}
.card-info-div{
  margin: 12px auto;
}
.card-info {
  font-family: var(--masterFont2);
  color: #5a7184;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  
}
.card-button button {
  color: #1565d8;
  border: none;
  background: none;
  /* font-family: Open Sans; */
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}
.background-wave {
  /* margin-top: 91px; */
  margin-bottom: -5px;
}
.background-wave img {
  width: 100%;
}
.analytics-section {
  padding-top: 50px;
  padding-bottom: 70px;
  }
  .analytics-section-content-bg{
    background: linear-gradient(
      180deg,
      #f8fbff 0%,
      rgba(250, 251, 251, 0.0001) 100%
      );
  }
.analytics-section-content{
  display: flex;
  
}
.analytics-chart-div {
width: 48%;
}
.analytics-chart-img{
  width: 100%;
}
.analytics {
  width: 48%;
  text-align: left;
  margin-left: 40px;
}
.analytics-heading-div{
width: 15%;
}
.analytics-heading {
  font-family: var(--masterFont);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  color: #37e36b;
}
.analytics-sub-heading-div{
  margin-top: 16px;
  width: 74%;
}
.analytics-sub-heading {
  font-family: var(--masterFont2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #183b56;
  
}
.analytics-info-div{
  margin-top: 20px;
  width: 70%;
}
.analytics-info {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #5a7184;
  
}
.analytics-cards {
  display: flex;
  margin-top: 40px;
}
.analytics-card-icon-div {
  width: 13%;
  height: 30%;
}
.analytics-card-icon {
  width: 100%;
}
.analytics-card-heading-div{

  margin: 19px 0px 7px 0px;
  width: 80%;
}
.analytics-card-heading {
  font-family: var(--masterFont);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #183b56;
}
.analytics-card-info-div {
  width: 73%;
}
.analytics-card-info {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #5a7184;
}
.analytics-button {
  background-image: url(./images/analytics\ button\ bg\ shape.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 136px 103px;
  min-height: 150px;
  width: 60%;
  background-position-y: center;
  background-position-x: 63%;
}

.analytics-button button {
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
  background: #1565d8;
  border-radius: 8px;
  padding: 14px 0px 15px 24px;
  margin-top: 40px;
  border: none;
  box-shadow: 0px 27px 9px rgb(20,45, 65,15%);
}
.analytics-button button img {
  /* margin: 20px; */
  margin: 0 20px;
}

/* ******************more features section*************** */

.more-features-section {
  margin-top: 40px;
}
.more-features-heading-div{
  margin-bottom: 16px;
}
.more-features-heading {
  /* font-family: Open Sans; */
  font-family: var(--masterFont2);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  color: #36b37e;
  
}
.more-features-heading-mobile{
display: none;
}
.more-features-sub-heading-div{
  margin-bottom: 16px;

}
.more-features-sub-heading {
  font-family: var(--masterFont2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #183b56;
}
.more-features-info-div{
  margin: 0px auto 60px auto;
  width: 68%;
}
.more-features-info {
  /* font-family: Open Sans; */
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #5a7184;
  
}
.more-features-cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  row-gap: 60px;
}
.more-features-card {
  width: 30%;
}
.more-features-card-icon-plus-heading-plus-info-div {
  display: flex;
}
.more-features-card-icon-div {
}
.more-features-card-icon {
}
.more-features-card-heading-plus-info {
  margin-left: 24px;
}
.more-features-card-heading-div{

}
.more-features-card-heading {
  font-family: var(--masterFont2);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #183b56;
}
.more-features-card-info-div{
  margin-top: 8px;

}
.more-features-card-info {
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #5a7184;
}

/* ******dividing line *********** */
.section-dividing-line{
  width: 100%;
    background-color: #E5EAF4;
    height: 1px;
    margin-top: 140px;
}


/* ******collaborate section *********** */
.collaborate-section {
  display: flex;
  padding-bottom: 120px;
}
.collaborate-content {
  margin-top: 162px;
  width: 50%;
}
.collaborate-heading-div{
  margin-bottom: 16px;

}
.collaborate-heading {
  font-family: var(--masterFont2);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: left;
  color: #36b37e;
}
.collaborate-sub-heading-div{
  
  margin-bottom: 20px;
}

.collaborate-sub-heading {
  font-family: var(--masterFont2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #183b56;
  
}
/* .collaborate-sub-heading-mobile{
  display: none;
} */
.collaborate-info-div{
  width: 70%;
    margin-bottom: 33px;
}
.collaborate-info {
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
  
}
.collaborate-checkbox-info-div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 63px;
  row-gap: 21px;
}

.collaborate-checkbox-icon-plus-info-div {
  display: flex;
  width: 41%;
}
.collaborate-checkbox-icon {
  margin-right: 12px;
}
.collaborate-checkbox-info {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #183b56;
}
.collaborate-image-section {
  width: 50%;
  position: relative;
}

.lady1-div{

  /* position: absolute;
  top: 20%;
  left: 19%;
  width: 35%;
  height: 42%; */
}
.man1-div{
  
  /* position: absolute;
    top: 11%;
    width: 41%;
    height: 51%;
    right: 2%; */

    /* box-shadow: -35px 35px 100px rgb(0 0 0 / 25%); */
}
.lady2-div{
  
  /* position: absolute;
    bottom: 9%;
    left: 29%;
    width: 29%;
    height: 27%; */

}
.man2-div{

  /* position: absolute;
    bottom: 4%;
    right: 6%;
    width: 34%;
    height: 32%; */


}

.collaborate-pattern-div{
 
  position: absolute;
  right: 35.3%;
  bottom: 3%;
    z-index: -1;
    width: 16%;
    height: 18%;

}
.lady1-img{
  /* width: 100%; */
  border-radius: 10px;
    position: absolute;
    top: 27%;
    left: 25%;
    width: 29%;
    height: 34%;
  
}
.lady2-img{
  /* width: 100%; */
  border-radius: 10px;
  position: absolute;
  bottom: 13%;
  left: 33%;
  width: 25%;
  height: 23%;
}
.man1-img{
  /* width: 100%; */
  border-radius: 10px;
    position: absolute;
    top: 15%;
    width: 38%;
    height: 46%;
    right: 5%;
  }
.man2-img{
  /* width: 100%; */
  border-radius: 10px;
    position: absolute;
    bottom: 6%;
    right: 9%;
    width: 30%;
    height: 30%;
}
.collaborate-pattern-img{
width: 100%;
}


/* ******integration section *********** */

/* .integration-section {
  position: relative;
  background-image: url(./images/integration\ bg\ lines.png);
  background-repeat: no-repeat;
  background-position: center; 
  padding: 203px 0;
}
.integration-content {
  background-image: url(./images/integration\ icons.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 88px 0px;
}
.integration-heading-div{
  margin-bottom: 16px;
}
.integration-heading {
  font-family: var(--masterFont2);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  color: #36b37e;
  
}
.integration-sub-heading-div{
  width: 41%;
  margin: 0 auto 20px auto;
}
.integration-sub-heading {
  font-family: var(--masterFont2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #183b56;
}
.integration-info {
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #5a7184;
  width: 40%;
  margin: 0 auto;
}
.integration-icons {
  position: absolute;
}
.integration-oval-lines {
  position: absolute;
  bottom: -236px;
  left: 176px;
} */




.integration-section {


  margin-top: 10px;
  height: 651px;
  position: relative;
  margin-bottom: 120px;


}
.integration-content {

  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.integration-heading-div{
  margin-bottom: 16px;
}
.integration-heading {
  font-family: var(--masterFont2);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  color: #36b37e;
  
}
.integration-sub-heading-div{
  width: 42%;
  margin: 0 auto 20px auto;
}
.integration-sub-heading {
  font-family: var(--masterFont2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #183b56;
}

.integration-info-div{
  width: 44%;
  margin: 0 auto;
}
.integration-info {
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #5a7184;
 
}
.integration-images{
 
  position: absolute;
  width: 100%;
  height: 100%;
}

.left-line1-div{
}
.left-line1-img{
  position:absolute;
left: 4%;
  top: 0%;
}
.left-line2-div{
}
.left-line2-img{
position:absolute;
left: 10%;
  top: 4%;
}
.left-line3-div{
}
.left-line3-img{
position: absolute;
left: 15%;
top: 11%;
}
.right-line1-div{
}
.right-line1-img{
position:absolute;
right: 4%;
  top: 0%;
}
.right-line2-div{
}
.right-line2-img{
position: absolute;
right: 10%;
top: 4%;
}
.right-line3-div{

}
.right-line3-img{
position: absolute;
right: 15%;
top: 11%;
}
.icons-div{

}
.left-icon1-div{
/* position: absolute;
left: 5%;
  top: 13%; */
}
.left-icon1-img{
  position: absolute;
left: 5%;
  top: 13%;
}
.left-icon2-div{
/* position: absolute;
bottom: 15%;
left: 11%; */
}
.left-icon2-img{
  position: absolute;
  bottom: 15%;
  left: 11%;
}
.left-icon3-div{
/* position: absolute;
top: 41%;
  left: 10%; */
}
.left-icon3-img{
  position: absolute;
  top: 41%;
    left: 10%;
}
.right-icon1-div{
/* position: absolute;
right: 5%;
  top: 13%; */
}
.right-icon1-img{
  position: absolute;
  right: 5%;
    top: 13%;
}
.right-icon2-div{
/* position: absolute;
bottom: 15%;
right: 11%; */
}
.right-icon2-img{
  position: absolute;
  bottom: 15%;
  right: 11%;
}
.right-icon3-div{
/* position: absolute;
top: 41%;
  right: 10%; */

}
.right-icon3-img{
  position: absolute;
  top: 41%;
    right: 10%;
}


/* **************** Review Section **************** */
.reviews-section {
}
.reviews-section-heading-div {

  padding: 30px 0px;
}
.reviews-section-heading-para {
  font-family: var(--masterFont2);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  color: #183b56;
}
.clients-div {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px 30px 0px;
}
.client-icon-div {
}
.client-icon {
}
.user-reviews-div {
  display: flex;
  padding: 30px 0px;
  justify-content: space-evenly;
}
.user-review {
  width: 33%;
}
.divider{
    border: 1px solid #E5EAF4;

}
.review-company-icon-div {
}
.review-company-icon {
}
.review-text-div {
  padding-top: 30px;
}
.review-text-para {
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #183b56;
}
.reviewer-details {
  display: flex;
  padding: 30px 0px;
}
.reviewer-photo-div {
}
.reviewer-photo {
}
.reviewerName-plus-verification-details {
  padding-left: 12px;
}
.reviewer-name-div {
  padding-bottom: 2px;
}
.reviewer-name-para {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #183b56;
}
.verification-status {
  display: flex;
  padding-top: 2px;
  column-gap: 8px;
}
.verified-icon {
}
.verification-text {
  font-family: var(--masterFont2);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #5a7184;
}

/* *****************pricing section ************* */

.pricing-section {
  background: linear-gradient(180deg, #f8fbff 0%, #fcfeff 100%);
  padding-bottom: 120px;
  /* margin-top: 89px; */
  margin-top: 0px;
}
.pricing-section-wave {
  padding-bottom: 140px;
}
.pricing-section-wave-img {
  width: 100%;
}
.pricing-section-heading-div {
  width: 13%;
  margin: 0px auto 0px auto;
  background: #1565d80d;
  padding: 6px 22px;
  border-radius: 30px;
}
.pricing-section-heading-para {
  font-family: var(--masterFont2);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #1565d8;
}
.pricing-section-sub-heading-div {
  padding-top: 16px;
  width: 45%;
  margin: 0 auto;
}
.pricing-section-sub-heading-para {
  font-family: var(--masterFont2);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #183b56;
}
.pricing-section-info-div {
  width: 72%;
  margin: 0 auto;
  padding-top: 24px;
}
.pricing-section-info-para {
  font-family: var(--masterFont2);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  color: #5a7184;
}
.free-plan-link {
  color: #183b56;
  text-decoration: none;
  cursor: pointer;
}
.get-started-link {
  color: #1565d8;
  text-decoration: none;
  cursor: pointer;
}
.get-started-link-arrow {
}
.billing-options-div {
  display: flex;
  /* width: 18%; */
  /* margin: 0 auto; */
  /* padding: 26px 0px; */
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.billing-monthly {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
  width:  11%;
  padding: 0px 12px;
}
.billing-annually-div{
  padding-top: 29px;
}
.billing-annually {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
  /* margin-top: 29px; */
  padding: 0px 12px;
}
.choose-option {
  width: 6%;
  border: 2px solid white;
  border-radius: 22px;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(20, 45, 65, 8%);
}
.choose-option-slider {
  vertical-align: middle;
  margin-left: 27px;
}
.save15 {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  padding-left: 13px;
  color: #36b37e;
}
.plan-options {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.plan {
  width: 27%;
  background-color: white;
  /* margin: 0px 15px; */
  border-radius: 8px;
}
.plan-top-tab {
  /* width: 320px; */
  height: 3px;

  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.standard-plan-bg-color {
  background-color: #3f598a;
}
.essentials-plan-bg-color {
  background-color: #36b37e;
}
.premium-plan-bg-color {
  background: #1565d8;
}
.plan-content {
  width: 81%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.plan-price-div {
  padding-top: 40px;
  
}
.plan-price {
  font-family: var(--masterFont2);
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
}
.standard-plan-price-color {
  color: #183b56;
}
.essentials-plan-price-color {
  color: #36b37e;
}
.premium-plan-price-color {
  color: #1565d8;
}
.plan-duration {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
}
.plan-heading-div {
  padding-top: 18px;

  /* width: 248px; */
  /* margin: 0 auto; */
}

.plan-heading {
  /* font-family: HK Grotesk; */
  font-family: var(--masterFont2);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #183b56;
}
.plan-info-div {
  /* width: 59%; */
  padding: 10px 0px;

  /* width: 248px; */
  /* margin: 0 auto; */
}
.plan-info {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #5a7184;
  padding-bottom: 16px;
}
.dividing-line {
  /* width: 248px; */
  height: 1px;
  border: 1px solid #e5eaf4;
  margin: 16px auto;
}
.plan-features-section {
  padding-top: 16px;
}
.plan-features {
  display: flex;
  margin-bottom: 26px;
}
.feature-icon {
  margin-right: 12px;
}
.feature {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #183b56;
}
.plan-button {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  /* width: 248px; */
  padding: 11px 0px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  align-items: center;
}
.plan-normal-btn-color {
  color: #1565d8;
  background-color: white;
  border-color: #1565d8;
}
.standard-btn-margin-top {
  margin-top: 45px;
}
.plan-premium-btn-color {
  background-color: #1565d8;
  color: white;
  border-color: #1565d8;
}
.button-content-div {
  /* width: 242px; */
}
.button-text {
  margin: 0px 50px 0px 24px;
}
.arrow {
  margin: 0px 22px 0px 37px;
}
footer {
  /* width: 84.5%;
  margin: 0 auto; */
}
.footer-flex-div {
  display: flex;
  justify-content: space-between;
}
.footer-logo-section {
  
}
.ehya-logo-div {
  /* width: 100px; */
  padding-bottom: 14px;
}
.ehya-logo {
}
.footer-logo-info-div {
  padding: 16px 0px 14px 0px;
  /* width: 60%; */
  width: 220px;
}
.footer-logo-info {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
}

.social-media-div {
  display: flex;
}
.footer-logo-section-logo {
  padding: 16px 6px 0px 0px;
}
.footer-sections-div {
}
.footer-section {
}
.footer-section-heading {
  font-family: var(--masterFont2);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #183b56;
  width: 90px;
  padding-bottom: 31px;
}
.footer-section-items {
  font-family: var(--masterFont2);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #183b56;
  padding-bottom: 24px;
}
.footer-copyright-section {
  
    margin-top: 50px;

}
.heart-icon-div {
  width: 60px;
  margin: 0 auto;
  padding-bottom: 24px;
}
.heart-icon {
  width: 100%;
  border-radius: 30px;
}
.copyright-text-div {
  width: 300px;
  margin: 0 auto;
}
.copyright-text {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #5a7184;
}
